<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>
 
<%= link_to 'Back', articles_path %>
